<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Simon Says</title>
        <link rel="stylesheet" href="/css/gameplay.css"></link>

    </head>
    <body>
        <nav>
            <li><a href="./user-account.html">Account</a></li>
            <li><a href="./home.html">Home</a></li>
            <li><a href="./scoreboard.html">Scoreboard</a></li>
            <li><a href="./login-register.html">Login/Logout</a></li>
        </nav>
        <!--quit button here-->
        <!--Code-->
        <!--qustart button here-->
        <button id="start-game-btn">Start Game</button>


        <div class="grid">
            <img id="0" src="/images/car_images/berlineMicrocar.png" alt="berline microcar">
            <img id="1" src="images/car_images/fiatMultipla.png" alt="fiat multipla">
            <img id="2" src="/images/car_images/ptCruiser.png" alt="pt cruiser">
            <img id="3" src="/images/car_images//mitsuokaOrochi.png" alt="mitsuoka orochi">
        </div>
        <div class="game-info">
            <div id="level"></div>
            <div id="current-score"></div>
            <div id="high-score"></div>
            <div id="all-time-high"></div>
        </div>

        <audio id="highlight0">
            <source src="/sounds/highlight0.wav">
        </audio>
        <audio id="highlight1">
            <source src="/sounds/highlight1.wav" type="audio/wav">
        </audio>
        <audio id="highlight2">
            <source src="/sounds/highlight2.wav" type="audio/wav">
        </audio>
        <audio id="highlight3">
            <source src="/sounds/highlight3.wav" type="audio/wav">
        </audio>
        <audio id="mistake">
            <source src="/sounds/mistake.wav" type="audio/wav">
        </audio>
        <script src="/js/gameplay.js" type="text/javascript"></script>

    </body>
</html>