<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/js/login-register.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/login-register.css">


</head>


<body>

    <header>
        <h1>Welcome to SimonSays</h1>
        <nav>
            <ul>
                <li><a href="/user-account.html">Account</a></li>
                <li><a href="/gameplay.html">Play Game</a></li>
                <li><a href="/home.html">Home</a></li>
                <li><a href="/scoreboard.html">Scoreboard</a></li>
            </ul>
        </nav>
    </header>


<div class="container">

  <!-- Trigger the modal with a button -->
  
  <div class="buttons-container">
        <button type="button" class="btn btn-default btn-lg big-button" id="login-register">Login/Register</button><br><br>
        <button type="button"  class="btn btn-default btn-lg big-button" id="anonymous-play" onclick="redirectToGameplay()">Play anonymously</button>
    </div>
    
    
    
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content for login -->
            <div class="modal-content">
                <div class="modal-header" style="padding: 35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-lock"></span>Login</h4>
                </div>
                <div class="modal-body" style="padding: 35px 50px;">
                    <form role="form" method="post" action="/login-register.html/login">
                        <div class="form-group">
                            <label for="login-username"><span class="glyphicon glyphicon-envelope"></span> Username</label>
                            <input type="email" class="form-control" id="login-username" name="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="login-password"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            <input type="password" class="form-control" id="login-password" name="password" placeholder="Enter password">
                        </div>
                        <div>
                            <label><input type="checkbox" value="" checked>Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-success btn-block"> <span class="glyphicon glyphicon-off"></span>Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-default pull-left" data-dismiss="modal">Close</button>
                    <p>Not a member? <a href="#" id="signup-link">Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Signup Modal -->
    <div class="modal fade" id="signupModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content for signup -->
            <div class="modal-content">
                <div class="modal-header" style="padding: 35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-lock"></span>Sign Up</h4>
                </div>
                <div class="modal-body" style="padding: 35px 50px;">
                    <form role="form" method="post" action="/login-register.html/signup" id="signup-form">
                        <div class="form-group">
                            <label for="signup-username"><span class="glyphicon glyphicon-envelope"></span> Email (will be your username)</label>
                            <input type="email" class="form-control" id="signup-username" name="username" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="signup-password"><span class="glyphicon glyphicon-edit"></span> Password</label>
                            <input type="password" class="form-control" id="signup-password" name="password" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="signup-password-check"><span class="glyphicon glyphicon-check"></span> Confirm Password</label>
                            <input type="password" class="form-control" id="signup-password-check" name="password-check" placeholder="Confirm password">
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Sign up</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-default pull-left" data-dismiss="modal">Close</button>
                    <p>Already a member? <a href="#" id="login-link">Login</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="untracked-warning">Your score will be untracked if you play anonymously</h3>



<script>
    $(document).ready(function() {
    // Trigger for login modal
    $("#login-register").click(function() {
        $("#loginModal").modal('show');
    });

    // Trigger to switch from login modal to signup modal
    $("#signup-link").click(function() {
        $("#loginModal").modal('hide');  // Hide the login modal
        $("#signupModal").modal('show'); // Show the signup modal
    });

    // Trigger to switch from signup modal to login modal 
    $("#login-link").click(function() {
        $("#signupModal").modal('hide');  // Hide the signup modal
        $("#loginModal").modal('show'); // Show the login modal
    });
});

</script>

</body>


<footer>
    <p>&copy; 2024 EECS1012 project. All rights reserved.</p>
    <p> AAA production</p>
</footer>


</html>
